@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.dark > ::-webkit-scrollbar-track {
  background: #041c32;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #60a5fa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c97e0;
}
